@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Grandiflora+One&family=Roboto:wght@100;300;400&display=swap');

/* RESTE */
html{
    font-size: 62.5%;
}
body{
    font: 1.6rem 'Roboto', sans-serif;
    margin: 0;
    line-height: 1.6;
    letter-spacing: .1rem;
    background: var(--lightbackgroundcolor);
    color: var(--lightfontcolor);
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    transition: all .6s ease-in-out;
}
main{
    max-width: 120rem;
    margin: auto;
}
*{
    box-sizing: border-box;
}
h1,h2,h3,p,ul,ol{
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: normal;
}
a{
    text-decoration: none;
    color: black;
}
button, input{
    padding: 0;
    background-color: 0;
    border: 0;
    vertical-align: middle;
}
:root{
    --lightbackgroundcolor: #e0e5f2cd;
    --lightfontcolor: rgb(148, 34, 34);
}




/* THEME */

/* TITRE */
h1{
    font-size: 90px;
    text-align: center;
    text-shadow:
    #101111 1px 1px 0,
    #59bcf1 2px 2px 0,
    #00ceff 3px 3px 0,
    #006392 4px 4px 0,
    #00485b 5px 5px 0,
    #333 5px 5px 10px;color:#44e9ff;
}

/* dark mode button */
header button#toggle-dark-mode{
    font-size: 9rem;
    background-color: inherit;
}

/* menu button */
header button#toggle-menu{
    background-color: inherit;
    font-size: 9rem;
}

/* Menu */
main section#menu{
    z-index: 10;
    position: fixed;
    background-color: antiquewhite;
    text-align: center;
    padding: 10rem;
    margin: auto;
}


/* LISTE */
section ul.list-logo{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

section ul.list-logo li img{
    width: 100%;
    padding: 1rem;
}

section ul.list-logo li{
    clip-path: circle(99%); /* masque */
    transition: all .4s ease-in-out;
    cursor: pointer;
}

section ul.list-logo li:hover{
    clip-path: circle(40%);
}

/* DARKMODE */
/* Ajoutez ces styles pour le mode sombre */
.dark-mode {
    background-color: rgb(51, 51, 51); /* Couleur de fond sombre */
    color: white; /* Couleur du texte en mode sombre */
}

.dark-mode h1 {
    color: #44e9ff; /* Couleur du texte du titre en mode sombre */
}

.dark-mode section ul.list-logo li {
    background-color: rgb(51, 51, 51); /* Fond des logos en mode sombre */
}

.dark-mode section ul.list-logo li img {
    filter: invert(1); /* Inverser la couleur des images en mode sombre */
}

/* FOOTER */
footer{
    text-align: center;
}