/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Grandiflora+One&family=Raleway:wght@300&family=Roboto:wght@100;300;400&display=swap');

/* Reset */
html {
    font-size: 62.5%;
}

body {
    font: 1.6rem 'Roboto', sans-serif;
    margin: 0;
    line-height: 1.6;
    letter-spacing: .1rem;
    background: var(--lightbackgroundcolor);
    color: var(--lightfontcolor);
    transition: all .6s ease-in-out;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, p, ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: black;
}

button, input {
    padding: 0;
    background-color: 0;
    border: 0;
    vertical-align: middle;
}

:root {
    --lightbackgroundcolor: #e0e5f2cd;
    --lightfontcolor: rgb(148, 34, 34);
}

/* Header */
header {
    flex-direction: row-reverse;
    display: flex;
}

/* Welcome Theme */
.bienvenue-page {
    display: block;
    margin-top: 15rem;
}

main .bienvenue-page h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 9rem;
    text-align: center;
    margin-bottom: 7rem;
}

.bienvenue-page h1 {
    margin: 1rem;
}

/* "Enter" Button */
main .bienvenue-page div {
    text-align: center;
}

main .bienvenue-page div button {
    background-color: antiquewhite;
    border-radius: 3rem;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: solid 1px black;
    box-shadow: 0px 0px 0px black;
    transition: all 0.5s;
}

main .bienvenue-page div button:hover {
    border-radius: 1rem;
    box-shadow: 0px 3px 3px black;
    transition: all 0.5s;
}

/* Welcome Theme End */

/* Home Page Theme */
.accueil-page {
    display: none;
}

/* Header */
header .accueil-page ul {
    display: flex;
    margin-right: 40vh;
}

header .accueil-page ul li {
    margin: 3rem 4rem 0rem 4rem;
    cursor: pointer;
    color: var(--lightfontcolor);
    padding: 0.5rem;
    transition: all 0.5s;
}

header .accueil-page ul li:hover {
    color: #f1e9c5;
    text-shadow: 0px 0px 2px black;
    transition: all 0.3s;
}

/* Main */
main .accueil-page {
    text-align: center;
    margin: 7rem 1rem 1rem 1rem;
}

main .accueil-page img {
    clip-path: circle(40%);
    max-width: 10%;
    padding: 0rem;
}

main .accueil-page h1 {
    margin-top: -2rem;
    font-size: 5.5rem;
    margin-bottom: 5rem;
}

main .accueil-page p {
    margin: 1rem 20rem 1rem 20rem;
    text-align: justify;
}

/* Home Page Theme End */

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

/* Dark Mode */
.dark-mode {
    background-color: rgb(51, 51, 51);
    color: white;
}

.dark-mode h1 {
    color: #44e9ff;
}

.dark-mode section ul.list-logo li {
    background-color: rgb(51, 51, 51);
}

.dark-mode section ul.list-logo li img {
    filter: invert(1);
}

/* Dark Mode Button */
header button#toggle-dark-mode {
    margin: 1.5rem 2rem 0rem 0rem;
    font-size: 5rem;
    background-color: inherit;
    cursor: pointer;
}

/* Test */
.bienvenue-page {
    transition: display 0.5s;
}

.accueil-page {
    display: none;
}
