/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Grandiflora+One&family=Raleway:wght@300&family=Roboto:wght@100;300;400&display=swap');

/* Reset */
html {
    font-size: 62.5%;
    cursor: none;
}

body {

    font-family: 'Raleway', sans-serif;
    margin: 0;
    line-height: 1.6;
    letter-spacing: .1rem;
    background: var(--lightbackgroundcolor);
    color: var(--lightfontcolor);
    transition: all .6s ease-in-out;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, p, ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: normal;
}

button, input {
    padding: 0;
    background-color: 0;
    border: 0;
    vertical-align: middle;
}

/* Set */
h1{
    font-size: 90px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    letter-spacing: 1.1rem;
}

h2{
    font-size: 55px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    letter-spacing: .2rem;
}

p{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    letter-spacing: .2rem;
}

li{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    letter-spacing: .2rem;
}
a {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    letter-spacing: .2rem;
}

 /* Variable */
:root {
    --lightbackgroundcolor: rgba(231, 227, 222, 0.804);
    --lightfontcolor: rgb(148, 34, 34);
    --darkfrontcolor: #faebd7;
}

/* Header */
header {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

/* Welcome Theme */
.bienvenue-page {
    display: block;
    margin-top: 15rem;
}

main .bienvenue-page h1 {
    text-align: center;
    margin-bottom: 7rem;
}

.bienvenue-page h1 {
    margin: 1rem;
}

/* "Enter" Button */
main .bienvenue-page div {
    text-align: center;
}

main .bienvenue-page div button {
    background-color: antiquewhite;
    border-radius: 3rem;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: solid 2px black;
    box-shadow: 0px 0px 0px black;
    transition: all 0.5s;
    cursor: none;
}

main .bienvenue-page div button:hover {
    border-radius: 1rem;
    box-shadow: 0px 3px 3px black;
    transition: all 0.5s;
}

/* Welcome Theme End */

/* Home Page Theme */
.accueil-page {
    display: none;
    opacity: 0;
}

/* Header */
header .accueil-page ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: row;
}

header .accueil-page ul li {
    padding: 3vh;
    margin: 0;
    cursor: none;
    color: var(--lightfontcolor);
    transition: all 0.5s;
}

header .accueil-page ul li:hover {
    font-size: 20px;
    transition: all 0.3s;
}

/* Main */

/* Personnal */
#personnal{
    margin-bottom: 80px;
}

/* Photo and Name */
main .accueil-page { /* Block center */
    text-align: center;
    margin: 7rem 1rem 1rem 1rem;
}
main .accueil-page #personnal img { /* Image circle */
    clip-path: circle(40%);
    max-width: 10%;
    padding: 0rem;
}

/* Project */
main #project{
    margin-bottom: 10rem;
}
main #project .theme{
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    margin-left: 20rem;
    margin-right: 20rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: row;
    justify-content: space-evenly;
}

main #project img{
    height: 250px;
    width: 165px;
}

main #project ul li{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    flex-wrap: wrap;
    align-items: flex-end;
}

main .theme ul{
    display: none;
}

main .theme img:hover + ul {
    display: flex;
}

/* Text */
main .accueil-page p {
    margin: 1rem 20rem 1rem 20rem;
    text-align: justify;
}

/* Home Page Theme End */

/* Footer */
footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 10rem;
}

/* Dark Mode */
.dark-mode {
    background-color: rgb(51, 51, 51);
    color: var(--darkfrontcolor);
}

.dark-mode section ul li {
    color: var(--darkfrontcolor);
}

.dark-mode section ul.list-logo li img {
    filter: invert(1);
}

/* Dark Mode Button */
header button#toggle-dark-mode {
    margin: 1.5rem 2rem 0rem 0rem;
    font-size: 5rem;
    background-color: inherit;
    cursor: none;
}

/* Circle Pointer */
.pointer{
    width: 20px;
    height: 20px;
    background-color: rgb(148, 34, 34);
    border-radius: 50%;
    display: block;
    z-index: 9999;
    border: solid 2px black;
    box-shadow: 2px 2px 2px rgb(69, 69, 69);
    position: fixed;
}